# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
*/keys/*
*.png
*.jpg
*.PNG
*.JPG
*.mp4
*.svg
*.pdf
*/hidden_files/
*/fonts/
*/prom/*
*/images/*
/keys
*.code-workspace
