html {
  overflow-x: hidden;
  overflow-y: auto;
  --dark-purple: #4f1665;
  --light-purple: #ddabed;

  --dark-bg: #2d2d2d;
  --light-bg: #f2f2f2;

  --dark-text: #222;
  --light-text: #fff;

  --off-light: #ccc;
  --off-dark: #4d4d4d;

  scroll-behavior: smooth;
}

html[data-theme="light"] {
  --primary-purple: var(--dark-purple);
  --alt-purple: var(--light-purple);

  --primary-text: var(--dark-text);
  --alt-text: var(--light-text);

  --primary-background: var(--light-bg);
  --alt-background: var(--dark-bg);

  --toggle-main: var(--off-light);
  --toggle-alt: var(--off-dark);

  .toggle-switch {
    margin-left: -1px;
  }
}
html[data-theme="dark"] {
  --primary-purple: var(--light-purple);
  --alt-purple: var(--dark-purple);

  --primary-text: var(--light-text);
  --alt-text: var(--dark-text);

  --primary-background: var(--dark-bg);
  --alt-background: var(--light-bg);

  --toggle-main: var(--off-dark);
  --toggle-alt: var(--off-light);

  .toggle-switch {
    margin-left: 24px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  font-family: Titillium Web;
  transition: background-color 0.2s linear, color 0.2s linear;

  background: var(--primary-background);
}

html[scroll-locked] {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s linear;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

nav#main-nav {
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  background-color: var(--dark-purple);
  padding: 15px;
  color: var(--light-text);

  a {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
    line-height: 1;

    &:hover {
      color: var(--light-purple);
    }
  }

  @media (max-width: 389px) {
    padding: 16px 10px;

    a {
      font-size: 18px;
    }
  }

  @media (max-width: 346px) {
    padding: 7px 10px;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0 3px;

    &:last-child {
      margin-right: 0;
    }

    a {
      padding: 0 2px;
    }
  }
}

main {
  padding-top: 50px;
}

/* theme toggler */ 
.theme-toggle {
  background: var(--toggle-alt);
  border: 2px solid var(--toggle-main);
  transition: background-color 0.2s linear;

  position: fixed;
  height: 32px;
  width: 58px;
  right: 20px;
  bottom: 15px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 0 3px;
  z-index: 500;
  cursor: pointer;

  .toggle-switch {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    z-index: 2;
    background: var(--toggle-main);
    transition: margin-left 0.2s, background-color 0.2s linear;
  }

  svg[data-icon="sun"] {
    position: absolute;
    left: 8px;
    color: var(--dark-text);
    height: 15px;
  }

  svg[data-icon="moon"] {
    position: absolute;
    right: 8px;
    color: var(--alt-text);
    height: 15px;
  }
}

/* mobile/desktop only stuff */
.mobile-only {
  display: none;
}

@media (max-width: 767px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}