/* hero section */ 
.index-hero {
  background-image: url('https://hooleymcknight.com/images/lax_hero.jpg');
  background-position: 50% 60%;
  background-size: cover;
  width: 100%;
  height: 60vh;
  max-height: 700px;
}

/* subnav bar */ 
.subnav {
  position: sticky;
  top: 49px;
  z-index: 4;
  border-top: 3px solid var(--light-bg);
  box-shadow: 0 1px 7px 2px var(--light-bg);
  background-color: var(--dark-purple);
  padding: 5px 10%;

  @media (max-width: 450px) {
    padding: 5px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: #fff;

    button {
      background: none;
      border: none;
      padding: 5px 10px;
      display: block;
      color: #fff;
      font-size: 16px;

      &:hover {
        color: var(--light-purple);
      }
    }

    span {
      font-weight: bold;
    }
  }
}

/* summary section */
.summary-section {
  padding-top: 100px;
  
  [class="summary-inner"] {
    margin: 0 auto;
    background: var(--alt-purple);
    border: 4px solid var(--primary-purple);
    border-radius: 8px;
    display: grid;
    width: fit-content;
    width: -moz-fit-content;
    max-width: 95%;
    grid-template-columns: 0.8fr auto;
    grid-template-areas:
      "summaryProfile summaryTitles"
      "contactInfo contactInfo";

    @media (max-width: 767px) {
      grid-template-columns: auto;
      grid-template-areas:
        "summaryProfile"
        "summaryTitles"
        "contactInfo";
    }
  
    @media (max-width: 450px) {
      width: 100%;
    }
  }

  [class="summary-profile"] {
    grid-area: summaryProfile;
    min-width: 185px;
    max-width: 300px;
    padding: 0 10px;
    display: flex;
    align-items: center;

    img {
      border-radius: 8px;
      width: 100%;

      @media (max-width: 450px) {
        max-width: unset;
      }
    }

    @media (max-width: 767px) {
      flex-direction: column;
      margin: auto;
    }
  }

  [class="summary-titles"] {
    grid-area: summaryTitles;
    padding: 10px;
    width: fit-content;
    width: -moz-fit-content;

    h1 {
      margin: 0;
      padding-right: 40px;
    }

    ul {
      list-style: none;
      width: fit-content;
      width: -moz-fit-content;

      svg {
        margin-left: -20px;
        margin-right: 12px;
      }
    }

    @media (max-width: 767px) {
      width: 100%;

      ul {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  [class="contact-info"] {
    grid-area: contactInfo;
    width: fit-content;
    width: -moz-fit-content;
    margin: 10px auto;

    @media (max-width: 767px) {
      margin-top: 0;
    }

    p {
      margin: 0 0 5px 0;
      font-size: 18px;

      b {
        margin-right: 5px;
      }

      a {
        text-decoration: underline;
      }
    }
  }
}

/*
    code portfolio section css is in:
    ./styles/Portfolio.module.scss
*/ 

/* resume section */ 
.resume {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  padding-top: 100px;
  margin: 0 auto;
  text-align: center;

  a {
    margin: 0 auto 10px;
    max-width: 200px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    svg {
      width: 20px;
      height: 20px;
      margin-left: 10px;
    }
  }
}

/*
    blog section css is in:
    ./styles/Blog.module.scss
*/ 

/* videos section */
.videos {
  padding-top: 100px;

  h2 {
    text-align: center;
  }

  [class="video-slider-container"]

  [class*="videos-slider"] {
    width: 80%;
    max-width: 800px;
    margin: auto;

    &:focus-visible {
      outline: Highlight auto 1px;
      outline: -webkit-focus-ring-color auto 1px;
      outline-offset: 2px;
    }

    [class="video-wrapper"] {
      margin: auto;
      display: flex !important;
      align-items: center;
      max-height: 400px;
      position: relative;
      cursor: pointer;

      &:hover svg {
        color: var(--primary-purple);
      }

      svg {
        position: absolute;
        font-size: 65px;
        top: calc(50% - calc(65px / 2));
        left: calc(50% - calc(65px / 2));
        color: #e2e2e2;
        cursor: pointer;
      }
    }
  }

  [class="video-viewer-container"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;

    [class="overlay"] {
      width: 100%;
      height: 100%;
      overflow: hidden;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.8);
    }

    [class="video-viewer"] {
      background: var(--primary-background);
      color: var(--primary-text);
      position: fixed;
      top: 140px;
      width: 95%;
      min-width: 300px;
      max-width: 1400px;
      left: 50%;
      height: auto;
      z-index: 250;
      max-height: 80vh;
      transform: translateX(-50%);
      border-radius: 8px;
      padding: 0 10px 20px;
      border: 2px solid var(--primary-purple);

      @media (max-width: 767px) {
        width: 100%;
        top: 4vh;
      }

      [class="video-title"] {
        width: 100%;
        text-align: center;
        font-weight: bold;
        z-index: -1;
      }

      [class="close-x"] {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        width: fit-content;
        width: -moz-fit-content;
        margin: 0 5px 0 auto;
        padding: 8px;
        cursor: pointer;
        font-size: 20px;
        background: transparent;
        border: none;
        color: var(--primary-text);

        &:hover {
          color: var(--primary-purple);
        }
      }

      [class="video"] {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

/* photos section */ 
.photos {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  padding-bottom: 40px;
  max-width: 950px;
  margin: 0 auto;

  h2 {
    width: 100%;
    text-align: center;
  }

  > img {
    border: 4px solid transparent;
    cursor: pointer;
    width: 30%;
    max-width: 300px;

    &:hover {
      border-color: var(--primary-purple);
    }

    @media (max-width: 450px) {
      width: 48%;
    }
  }

  [class="photo-viewer-container"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;

    [class="overlay"] {
      width: 100%;
      height: 100%;
      overflow: hidden;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.8);
    }

    [class="photo-viewer"] {
      background: var(--primary-background);
      color: var(--primary-text);
      position: fixed;
      top: 140px;
      width: fit-content;
      width: -moz-fit-content;
      left: 50%;
      height: auto;
      z-index: 250;
      max-height: 80vh;
      transform: translateX(-50%);
      border-radius: 8px;
      max-width: 95%;
      padding: 50px 20px 30px;
      border: 2px solid var(--primary-purple);

      @media (max-width: 767px) {
        top: 10px;
        width: 100%;
        height: auto;
        max-height: calc(100vh - 20px);
      }

      [class="close-x"] {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        width: fit-content;
        width: -moz-fit-content;
        margin: 0 5px 0 auto;
        padding: 8px;
        cursor: pointer;
        font-size: 20px;
        background: transparent;
        border: none;
        color: var(--primary-text);

        &:hover {
          color: var(--primary-purple);
        }
      }

      [class*="photo-slider"]:focus-visible {
        outline: Highlight auto 1px;
        outline: -webkit-focus-ring-color auto 1px;
        outline-offset: 2px;
      }

      [class="photo-wrapper"] {
        position: relative;

        img {
          max-height: calc(80vh - 80px);
          width: auto;
          max-width: 100%;

          @media (max-width: 767px) {
            max-height: calc(100vh - 100px);
          }
        }

        p {
          position: absolute;
          bottom: 30px;
          background: rgba(0, 0, 0, 0.7);
          color: #fff;
          padding: 2px 10px;
          width: 100%;

          @media (max-width: 767px) {
            bottom: 20px;
            font-size: 12px;
          }
        }
      }
    }
  }

}