.time-calc {
  width: 95%;
  max-width: 800px;
  margin: auto;
  padding-bottom: 40px;
  color: var(--primary-text);

  form[id="time-conversion"] {
    [class="form-section"] {
      display: flex;
      align-items: center;
      margin: 18px 10px;

      [class="select-wrapper"], [class="input-wrapper"] {
        position: relative;
        width: fit-content;
        width: -moz-fit-content;
        margin-top: 24px;
        margin-right: 25px;

        label {
          position: absolute;
          top: -24px;
          font-size: 16px;
          color: var(--primary-purple);
          font-weight: 700;
        }

        select {
          padding: 5px 30px 4px 8px;
          appearance: auto;
          border: 2px solid var(--dark-bg);
          font-size: 18px;
          font-family: Titillium Web;

          &:focus-visible {
            outline-offset: 3px;
          }

          @media (max-width:450px) {
            padding-right: 20px;
          }
        }

        input {
          border: 2px solid var(--dark-bg);
          padding: 7px 8px;
          font-size: 18px;

          @media (max-width:450px) {
            max-width: 100px;
          }
        }

        &[offset-wrapper] {
          width: 260px;

          @media (max-width: 540px) {
            width: 200px;
          }
        }
      }

      @media (max-width: 450px) {
        &[btn-section] {
          flex-wrap: wrap;
        }
      }

      button[id="get-time"] {
        font-family: Titillium Web;
        background: var(--primary-purple);
        border: 2px solid var(--primary-purple);
        color: var(--alt-text);
        padding: 12px 18px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 0.7px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.2s linear, color 0.2s linear;

        &:hover {
          background-color: var(--alt-purple);
          color: var(--primary-text);
        }

        @media (max-width: 450px) {
          margin-top: 20px;
        }
      }
    }
  }

  p[class="results"] {
    display: none;
    font-size: 20px;

    &[shown] {
      display: block;
    }
  }
}