.wheel-title, .games-list-desc {
  text-align: center;
  width: 95%;
  margin: auto;
}

.wheel {
  padding: 30px 0 40px;
  overflow: hidden;
  position: relative;

  [class*="spinner"] {
    position: absolute;
    width: 120px;
    height: 120px;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    background: #4f1665;
    font-family: Poppins;
    font-size: 28px;
    color: #fff;
    z-index: 3;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -2px 44px 7px #fff;
    cursor: pointer;
    text-transform: uppercase;
    transition: font-size 0.3s ease;
    font-family: Titillium Web;
    border: none;

    &::before {
      display: block;
      content: '';
      width: 45px;
      height: 25px;
      clip-path: polygon(50% 0, 100% 100%, 0 100%);
      position: absolute;
      top: -16px;
      left: calc(50% - 22px);
      background: #4f1665;
    }

    &:hover, &:focus-visible:not([class*="spinning"]) {
      font-size: 40px;
    }

    span {
      font-family: Titillium Web;
    }

    @media (max-width: 767px) {
      width: 60px;
      height: 60px;
      top: calc(50% - 30px);
      left: calc(50% - 30px);
      font-size: 16px;
      box-shadow: 0px -2px 24px 7px #fff;

      &::before {
        width: 23px;
        height: 12.5px;
        top: -8px;
        left: calc(50% - 11px);
      }
    }

    @media (max-width: 420px) {
      width: 30px;
      height: 30px;
      top: calc(50% - 15px);
      left: calc(50% - 15px);
      font-size: 12px;

      &::before {
        width: 11px;
        height: 6px;
        top: -4px;
        left: calc(50% - 5px);
      }
    }
  }

  [class="wheel-container"] {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 3s ease;
    border: 1px solid #fff;
    box-shadow: 0px 0px 20px 5px #2d2d2d;
    width: 700px;
    height: 700px;
    color: #fff;

    &[winner] [class="game-slice"]:not([winner]) {
      filter: opacity(0.5);
    }

    @media (max-width: 767px) {
      width: 400px;
      height: 400px;
    }

    @media (max-width: 420px) {
      width: 300px;
      height: 300px;
    }
  }

  [class="game-slice"] {
    --centerPad: 50px;
    background-size: cover;
    background-position: center center;
    padding-left: var(--centerPad);
    position: absolute;
    left: 50%;
    transform-origin: center left;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    width: calc(58% - var(--centerPad));
    white-space: nowrap;
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      --centerPad: 30px;
      font-size: 14px;
    }

    @media (max-width: 420px) {
      --centerPad: 15px;
      font-size: 12px;
    }

    span {
      color: #fff;
      text-shadow: 1px 1px 3px #000;
      display: block;
      width: 100%;
      text-align: right;
      padding-right: 13px;
      background: rgba(0, 0, 0, 0.6);
      box-shadow: 0px 0px 8px 0px #000;
    }
  }
}

.winner-title {
  text-align: center;
  color: var(--primary-text);
  font-size: 20px;
  margin: 0;
  min-height: 32px;
}

// .games-list-desc {
//   text-align: center;
//   width: 95%;
// }

.games-list {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 620px;
  margin: auto;
  padding: 40px 0;

  button {
    position: relative;
    font-family: Titillium Web;
    font-size: 20px;
    width: calc(50% - 4px);
    padding: 8px 12px;
    background: var(--alt-purple);
    color: var(--primary-text);
    border: 2px solid var(--primary-purple);
    margin: 2px;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:focus-visible {
      outline-offset: 2px;
      text-decoration: underline;
    }

    @media (max-width: 500px) {
      width: 100%;
    }

    &:hover {
      background: var(--alt-background);
      color: var(--alt-text);

      &[disabled] span {
        display: block;
      }
    }

    svg {
      margin-left: 10px;

      &[class*="fa-plus"] {
        display: none;
      }
    }

    &[data-active="false"] {
      background: var(--primary-purple);
      color: var(--alt-text);

      svg[class*="fa-xmark"] {
        display: none;
      }
      svg[class*="fa-plus"] {
        display: inline-block;
      }
    }

    &[data-available="false"],
    &[data-valid-player-count="false"] {
      opacity: 0.2;
      pointer-events: none;
    }

    span {
      display: none;
      position: absolute;
      bottom: -25px;
      left: -10px;
      background: var(--toggle-alt);
      border: 1px solid var(--toggle-main);
      color: var(--alt-text);
      font-size: 15px;
      z-index: 2;
      width: 110%;
      text-align: center;

      @media (max-width: 500px) {
        width: 100%;
        left: 0;
      }
    }
  }
}

.filters {
  display: flex;
  justify-content: space-around;
  padding: 0 10px 20px;

  [class*="filter-set"] {
    position: relative;

    > label {
      font-size: 24px;
      font-weight: 700;
      cursor: pointer;
      padding: 4px 8px;
      transition: all 0.2s ease;

      svg {
        transition: all 0.2s ease;
        margin-left: 10px;
      }

      &:hover {
        color: var(--primary-purple);
      }
    }
    
    &[id="category-set"] [class="filter-dropdown"] {
      width: 220%;
    }

    [class="filter-dropdown"] {
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s ease;
      padding: 7px 20px 7px 10px;
      box-shadow: 1px 2px 5px #222;
      position: absolute;
      background: var(--dropdown-bg);
      top: calc(100% + 10px);
      z-index: 2;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 140px;
    }

    &[class*="open-filter"] {
      > label svg {
        transform: rotate(-180deg);
      }

      [class="filter-dropdown"] {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  [id="player-count-set"] {
    input[type="range"] {
      appearance: none;
      -webkit-appearance: none;
      background: transparent;
      margin: 0 10px;
  
      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        box-shadow: 0 0 0 #000;
        background: var(--light-purple);
        border-radius: 25px;
        border: 1px solid var(--dark-bg);
      }

      &::-moz-range-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        box-shadow: 0 0 0 #000;
        background: var(--light-purple);
        border-radius: 25px;
        border: 1px solid var(--dark-bg);
      }
  
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: var(--dark-purple);
        border: 1px solid var(--light-bg);
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin-top: -5px;
      }

      &::-moz-range-thumb {
        -webkit-appearance: none;
        background: var(--dark-purple);
        border: 1px solid var(--light-bg);
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin-top: -5px;
      }
  
      &::-ms-fill-lower {
        background: #4f1665;
      }
    }

    span {
      min-width: 25px;
      display: inline-block;
    }
  }


  [class="filter-checkbox"] {
    display: flex;
    align-items: center;
    cursor: pointer;

    input {
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;
      background-color: #fafafa;
      border: 1px solid #cacece;
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
      padding: 8px;
      border-radius: 3px;
      display: inline-block;
      position: relative;

      &:active, &:checked:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
      }
      
      &:checked {
        background-color: var(--dark-purple);
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        color: #fff;
      }
    }

    label {
      cursor: pointer;
      margin-left: 5px;
    }
  }

  @media (max-width: 900px) {
    flex-direction: column;

    [class*="filter-set"][id="category-set"] [class="filter-dropdown"] {
      width: 100%;
    }
  }
}