html {
    display: block !important;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    margin: 0;
    width: 100%;
    position: relative;
}

html.overlay-active {
    overflow: hidden !important;
}

.light body {
    background: #f2f2f2;
    transition: background 0.2s linear;
}

.dark body {
    background: #2d2d2d;
    transition: background 0.2s linear;
}

p, h1, h2, h3, h4, h5, li, a, th, td {
    font-family: Titillium Web;
}

.bold {
    font-weight: bold;
}

.dark p, .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark li, .dark th, .dark td {
    color: #ffffff;
    transition: color 0.2s linear;
}

.light p, .light h1, .light h2, .light h3, .light h4, .light h5, .light li, .light th, .light td {
    color: #333333;
    transition: color 0.2s linear;
}

.light a, .light a:visited:not(:hover), .light .index-title-link, .light .index-title-link:visited:not(:hover) {
    color: #333333;
    transition: color 0.2s linear;
}
.light a:hover, .dark a:active {
    color: #4f1665;
    transition: color 0.2s linear;
}
.light a:active, .dark a:hover, .navbar a:hover, .subnav a:hover {
    color: #ddabed;
    transition: color 0.2s linear;
}
.dark a, .dark a:visited:not(:hover), .dark .index-title-link, .dark .index-title-link:visited:not(:hover), .navbar a, .navbar a:visited:not(:hover), .subnav a, .subnav a:visited:not(:hover) {
    color: #ffffff;
    transition: color 0.2s linear;
}

.overlay:not(.active) {
    display: none;
}

.overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 200;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

/* ----- Navigation bar ----- */

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
    background-color: #4f1665;
    top: 0;
    z-index: 5;
}

.navbar a {
    color: #fff;
    font-family: Titillium Web;
    font-weight: 900;
    font-size: 20px;
    line-height: 1;
    transition: color 0.3s linear;
}

.navbar a:hover {
    color: #daabed;
    transition: color 0.3s linear;
}

.navbar .name {
    padding-left: 20px;
    text-decoration: none;
    cursor: pointer;
}

.navbar .social-media {
    text-align: right;
    padding-right: 20px;
    display: flex;
    align-items: center;
    margin-right: 0;
    width: fit-content;
    width: -moz-fit-content;
    right: 0;
}

.navbar .social-media a {
    margin: 0 4px;
}

/* ----- Hero section ----- */

.hero-section {
    /* Medina background */
    /* background-image: url('/images/medina.jpg');
    background-position: 57% 69%; */
    /* end of Medina background */
    /* LAX background */
    background-image: url('/images/lax_hero.jpg');
    background-position: 50% 60%;
    /* end of LAX background */
    background-size: cover;
    width: 100%;
    height: 60vh;
    max-height: 700px;
}

@media only screen and (max-width: 767px) {
    .hero-section {
        /* Medina background */
        /* background-image: url('/images/medina_mobile.jpg'); */
        /* end of Medina background */
        /* LAX background */
        background-image: url('/images/lax_hero.jpg');
        background-position: 90% 50%;
        /* end of LAX background */
    }
}

@media only screen and (max-width: 580px) {
    .hero-section {
        /* LAX background */
        background-position: 50% 50%;
        /* end of LAX background */
    }
}

/* ----- Sub-navigation bar ----- */

.subnav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 15px 10%;
    background-color: #4f1665;
    color: #fff;
    font-weight: bold;
    position: sticky;
    top: 49px;
    border-top: 3px solid #f2f2f2;
    box-shadow: 0 1px 7px 2px #f2f2f2;
    z-index: 4;
}

.subnav.read-nav {
    width: 100%;
    padding: 0;
}
.subnav.read-nav .subnav-items {
    overflow-y: scroll;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 95%;
    margin: auto;
}

.subnav a.subnav-item {
    padding: 0 10px;
    cursor: pointer;
    line-height: 1;
}

.subnav.read-nav a.subnav-item {
    border: 2px solid transparent;
    padding: 5px 10px;
    margin-right: 5px;
}
.subnav.read-nav a.subnav-item.active {
    border: 2px solid #fff;
    border-radius: 4px;
}

.subnav .mobile-icon {
    display: none;
}
.subnav .text {
    display: inherit;
}

.subnav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s linear;
}

.subnav a:hover {
    color: #daabed;
    transition: color 0.3s linear;
}

.hidenav-tab {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 8%;
    height: 30px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 4px;
}

.light .hidenav-tab {
    background: #333;
    color: #f2f2f2;
}
.dark .hidenav-tab {
    background: #f2f2f2;
    color: #333;
}

.hidenav-tab i {
    margin: auto;
}

.subnav.read-nav.shown .hidenav-tab .fa-chevron-up, .subnav.read-nav:not(.shown) .hidenav-tab .fa-chevron-down {
    display: block;
}
.subnav.read-nav.shown .hidenav-tab .fa-chevron-down, .subnav.read-nav:not(.shown) .hidenav-tab .fa-chevron-up {
    display: none;
}

.subnav.read-nav {
    top: 7px;
    transition: top 0.3s linear;
}

.subnav.read-nav.shown {
    top: 49px;
}

body.desktop .subnav.read-nav .subnav-items {
    overflow-y: inherit;
}
@media only screen and (min-width: 1000px) {
    .subnav.read-nav .subnav-items {
        overflow-y: inherit;
    }
    .subnav.read-nav { /* this was recently changed from .subnav-read-nav and I'm not super sure about it, 7/19/2021 */
        max-width: 1000px;
        margin: auto;
    }
}

@media only screen and (max-width: 640px) {
    .subnav {
        width: 90%;
        padding: 15px 5%;
    }
}

@media only screen and (max-width: 490px) {
    .subnav .mobile-icon {
        display: block;
    }
    .subnav .text {
        display: none;
    }
    .subnav.read-nav .text {
        display: inherit;
    }
}

@media only screen and (max-width: 358px) {
    .subnav {
        top: 70px;
    }
    .subnav.read-nav.shown {
        top: 69px;
    }
    .subnav.read-nav:not(.shown) {
        top: 27px;
    }
}

/* margin related to the reading subnav */
main.dnd, main.dnd h1 { transition: margin-top 0.3s linear; }
main.dnd:not(.subnav-shown) {
    margin-top: 0;
}
main.dnd:not(.subnav-shown) h1 {
    margin-top: 40px;
}

/* ----- Summary section ----- */

.summary-section {
    display: grid;
    width: fit-content;
    width: -moz-fit-content;
    max-width: 95%;
    margin: 40px auto;
    grid-template-columns: 0.8fr auto;
    border-radius: 8px;
}

.dark .summary-section {
    background: #4f1665;
    border: 4px solid #ddabed;
}
.light .summary-section {
    background: #ddabed;
    border: 4px solid #4f1665;
}

.profile-module {
    max-width: 300px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.profile-module h1 {
    display: none;
}

.profile-module img {
    border-radius: 8px;
    display: block;
}

.summary-pfp {
    width: 100%;
}

.active-titles {
    padding: 10px;
    width: fit-content;
    width: -moz-fit-content;
}

.active-titles h1 {
    margin: 0;
    width: fit-content;
    width: -moz-fit-content;
}

.active-titles ul {
    width: fit-content;
    width: -moz-fit-content;
}

.active-titles li {
    list-style-type: none;
}
.light .active-titles li, .light .active-titles h1 {
    color: #000;
}

.active-titles li .fa-equals {
    display: none;
    margin-left: -20px;
    margin-right: 12px;
    transform: rotate(90deg);
}

.active-titles li .fa-circle-notch {
    margin-left: -20px;
    margin-right: 12px;
}

.summary-section .contact-info {
    grid-column: 1 / span 2;
    width: fit-content;
    width: -moz-fit-content;
    margin:  10px auto;
}

.summary-section .contact-info p {
    margin: 0 0 5px 0;
    font-size: 18px;
}

.summary-section .contact-info span.bold {
    margin-right: 5px;
}

@media only screen and (max-width: 480px) {
    .summary-section {
        grid-template-columns: auto;
    }
    .profile-module {
        padding: 10px 10px 0;
        flex-direction: column;
    }
    .profile-module h1 {
        display: block;
        margin: 0 0 10px 0;
    }
    .active-titles {
        margin: 0 10px;
        padding-bottom: 0;
    }
    .active-titles h1 {
        display: none;
    }
    .summary-section .contact-info {
        grid-column: 1 / span 1;
        margin-top: 0;
    }
}

/* ----- D&D section ----- */

.dnd .dnd-section {
    margin-top: 60px;
}

.dnd-section {
    text-align: center;
    margin-bottom: 40px;
}

.dnd-section .dnd-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 800px;
    margin: auto;
}

.dnd-section .chapters, .dnd-section .sessions {
    padding: 0 50px;
    max-width: 300px;
    margin: 0 auto;
}

.dnd-section .chapters a, .dnd-section .sessions a, .dnd-section .letters a {
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0);
}

.dnd-section .title {
    font-size: 120%;
    font-weight: 600;
    padding-right: 7px;
}

.light .dnd-section a, .light .dnd-section a:visited:not(:hover), .light .index-title-link, .light .index-title-link:visited:not(:hover) {
    color: #333;
}
.light .dnd-section a:hover, .dark .dnd-section a:active {
    color: #4f1665;
    border-bottom: 1px solid #4f1665;
}
.light .index-title-link:hover, .dark .index-title-link:active {
    color: #4f1665;
    border-bottom: none !important;
}
.light .dnd-section a:active, .dark .dnd-section a:hover {
    color: #ddabed;
    border-bottom: 1px solid #ddabed;
}
.light .index-title-link:active, .dark .index-title-link:hover {
    color: #ddabed;
    border-bottom: none !important;
}

.dark .dnd-section a, .dark .dnd-section a:visited:not(:hover), .dark .index-title-link, .dark .index-title-link:visited:not(:hover) {
    color: #fff;
}

.spotify iframe {
    max-width: 300px;
    width: 100%;
}

.see-more {
    display: block;
    margin: 20px auto 0;
    width: fit-content;
    width: -moz-fit-content;
    padding: 5px 12px;
}

@media only screen and (max-width: 767px) {
    .dnd-section .chapters, .dnd-section .sessions {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 610px) {
    .dnd-section .dnd-grid {
        display: block;
        max-width: 800px;
        margin: auto;
    }
}

/* ----- Resume section ----- */

.resume-section {
    margin: 40px 0;
}

.resume-section h2 {
    text-align: center;
}

.resume-section a.download {
    font-size: 16px;
    text-align: center;
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    padding: 2px 5px;
    margin: 0 auto 12px;
}

.resume-section iframe {
    width: 95%;
    /* height: 100%; */
    height: 800px;
    margin: auto;
    display: block;
    max-width: 1000px;
    max-height: 70vh;
}

.resume-section .mobile.download .fa-file-download {
    display: block;
    font-size: 50px;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto 10px;
}

/* ----- Portfolio section ----- */

.portfolio-section {
    margin: 40px auto;
    text-align: center;
    width: 730px;
}

.projects-section {
    margin-top: calc(25% + 40px);
}

.project {
    width: 350px;
    height: calc(350px * 0.855);
    margin-top: -25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: contain;
    display: flex;
    align-items: center;
    transition: margin-top 0.1s linear, width 0.2s linear, height 0.2s linear;
}

.project-hexagon {
    position: absolute;
    width: 100%;
    height: auto;
}

.light .project-hexagon.light-mode, .dark .project-hexagon.dark-mode { display: block; }
.light .project-hexagon.dark-mode, .dark .project-hexagon.light-mode { display: none; }

.light .project.hover .project-inner h3, .light .project.hover .project-inner h5 {
    color: #fff;
    transition: none;
}
.dark .project.hover .project-inner h3, .dark .project.hover .project-inner h5 {
    color: #000;
    transition: none;
}

.project.hover > div {
    cursor: pointer;
}

.light .project.hover .project-clickable { background: #4f1665; }
.dark .project.hover .project-clickable { background: #ddabed; }

.project-clickable {
    position: absolute;
    background: transparent;
    width: 170px;
    height: 300px;
    z-index: 2;
}
.project-clickable.one {
    top: 0;
    left: 90px;
}
.project-clickable.two {
    top: 0;
    right: 90px;
    transform: rotate(60deg);
}
.project-clickable.three {
    bottom: 0;
    left: 90px;
    transform: rotate(-60deg);
}

.project.left {
    margin: -25% auto 40px 56px;
}

.project.right {
    margin: -25% 56px 40px auto;
}

.project-inner {
    display: block;
    margin: auto;
    z-index: 2;
}

.project.active {
    width: 730px;
    height: calc(730px * 0.855);
    margin-top: -3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27%;
}

.project.first.active {
    margin-top: -20%;
}

.project-content {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: visibility 0.1s, max-height 0.1s, opacity 0.1s linear;
}

.project.active .project-content {
    visibility: visible;
    width: 100%;
    height: calc(100% - 110px);
    max-height: 600px;
    margin-bottom: 25px;
    opacity: 1;
}

.project:not(.active) .close-x {
    display: none;
}

.project.active .close-x {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    z-index: 3;
}

/* inside of project hexagons */

.project-inner h3 {
    margin: 0 auto;
    font-size: 20px;
    width: 92%;
}

.project.active .project-inner h3 {
    margin: 25px auto 0;
    font-size: 24px;
}

.project-inner h5 {
    margin: 0;
    font-size: 18px;
}

.project-content img {
    max-width: 300px;
    width: 100%;
    margin-top: 15px;
}

.project-inner .blurb {
    max-width: 70%;
    margin: 15px auto;
    font-size: 20px;
}

.project-inner .project-link {
    font-size: 18px;
}

@media only screen and (max-width: 767px) {
    .project-inner h3 {
        width: 80%;
    }
    .portfolio-section {
        width: 95vw;
    }
    .project {
        width: 45vw;
        height: calc(45vw * 0.855);
    }
    .project-clickable {
        width: 21.8vw;
        height: 38.5vw;
    }
    .project-clickable.one, .project-clickable.three {
        left: 12vw;
    }
    .project-clickable.two {
        right: 12vw;
    }
    .project.left {
        margin: -25% auto 5.3vw 7.4vw;
    }
    .project.right {
        margin: -25% 7.4vw 5.3vw auto;
    }
    .project.active {
        width: 95vw;
        height: calc(95vw * 0.855);
        margin: -3% auto 26vw;
    }
    .project.active .close-x {
        top: 2vw;
        right: 2vw;
        font-size: 7vw;
    }
    .project.active .project-inner h3, .project-inner h3 {
        font-size: 3vw;
    }
    .project-inner h5 {
        font-size: 2.4vw;
    }
    .project-content img {
        width: auto;
        max-width: 100%;
        max-height: 40%;
    }
    .project-inner .blurb {
        font-size: 2.4vw;
    }
}

@media only screen and (max-width: 450px) {
    .project-inner h3 {
        width: 70%;
    }
    .project.active .project-inner h3 {
        margin-top: 5px;
        font-size: 15px;
        width: 50%;
        line-height: 1.3;
    }
    .project-content img {
        display: none;
    }
    .project.active .project-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project.active .project-inner h5 {
        font-size: 10px;
    }
    .project-inner .blurb {
        font-size: 11px;
    }
    .project-inner .project-link {
        font-size: 12px;
    }
    .project.active .project-content {
        width: 90%;
        margin: auto auto 25px auto;
    }
}

/* ----- Videos section ----- */

.videos-section {
    margin-bottom: 40px;
}

.videos-section h2 {
    text-align: center;
}

.videos-group {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.video-wrapper {
    margin: auto;
    display: flex !important;
    align-items: center;
    max-height: 200px;
    position: relative;
}

.video-wrapper .fa-play-circle {
    position: absolute;
    font-size: 65px;
    top: calc(50% - calc(65px / 2));
    left: calc(50% - calc(65px / 2));
    color: #e2e2e2;
    cursor: pointer;
}

.light .video-wrapper:hover .fa-play-circle {
    color: #4f1665;
}

.dark .video-wrapper:hover .fa-play-circle {
    color: #ddabed;
}

.video-wrapper:not(.active) img.cover {
    display: block;
    width: 95%;
    margin: auto;
}

.video-wrapper.active img.cover {
    display: none;
}

.video-wrapper:not(.active) video {
    display: none;
}

.video-wrapper.active video {
    display: block;
    margin: auto;
}

.video-wrapper video.cover {
    display: block;
    margin: auto;
    width: 97%;
    max-width: 400px;
    cursor: pointer;
}

video.hd {
    width: 300px;
    height: calc(calc(300px * 9) / 16);
}

video.sd {
    width: 300px;
    height: calc(calc(300px * 3) / 4);
}

.video-viewer {
    display: none;
}

.video-viewer.active {
    display: block;
    position: fixed;
    top: 140px;
    width: fit-content;
    width: -moz-fit-content;
    left: 50%;
    height: auto;
    z-index: 250;
    max-height: 80vh;
    transform: translateX(-50%);
    border-radius: 8px;
    max-width: 95%;
    padding-bottom: 20px;
}

.light .video-viewer.active {
    background: #f2f2f2;
}
.dark .video-viewer.active {
    background: #2d2d2d;
}

.video-viewer video {
    max-width: calc(100% - 40px);
    height: auto;
    max-height: 70vh;
    margin: 20px;
    display: none;
}

.video-viewer video.active {
    display: block;
}

.video-title {
    position: absolute;
    top: 0;
    width: 400px;
    left: calc(50% - 200px);
    text-align: center;
    font-weight: bold;
    z-index: -1;
}

.yt-link {
    margin: 0 auto;
    width: fit-content;
    width: -moz-fit-content;
    display: block;
    text-decoration: none;
}

.videos-section .close-x {
    z-index: 3;
}

.yt-link i {
    margin-right: 4px;
}

@media only screen and (max-height: 810px) {
    .video-viewer.active {
        top: 80px;
    }
}

/* ----- Photos section ----- */

.photos-section {
    margin: 40px auto;
    width: 95%;
    max-width: 1000px;
}

.photos-section h2 {
    text-align: center;
}

.photos-section .gallery-section {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px 300px;
    grid-gap: 5px;
    margin: auto;
    width: fit-content;
    width: -moz-fit-content;
}

@media only screen and (max-width: 990px) {
    .photos-section .gallery-section {
        grid-template-columns: 30vw 30vw 30vw;
        grid-template-rows: 30vw 30vw 30vw 30vw;
    }
}

.photos-section .tile {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.light .photos-section .tile {
    border: 3px solid #f2f2f2;
    transition: border 0.2s linear;
}
.dark .photos-section .tile {
    border: 3px solid #2d2d2d;
    transition: border 0.2s linear;
}

.light .photos-section .tile:hover {
    border: 3px solid #4f1665;
}
.dark .photos-section .tile:hover {
    border: 3px solid #ddabed;
}

.tile.unt-grad { background-image: url('/images/photos-section/thumbnails/unt_grad_300.jpg');}
.tile.tstc-grad { background-image: url('/images/photos-section/thumbnails/tstc_grad_300.jpg');}
.tile.nyc { background-image: url('/images/photos-section/thumbnails/nyc_300.jpg');}

.tile.minnesota { background-image: url('/images/photos-section/thumbnails/minnesota_300.jpg');}
.tile.lax { background-image: url('/images/photos-section/thumbnails/lax_300.jpg');}
.tile.disney { background-image: url('/images/photos-section/thumbnails/disney_300.jpeg'); background-position: 85%;}

.tile.dc { background-image: url('/images/photos-section/thumbnails/dc_300.jpg');}
.tile.climbing { background-image: url('/images/photos-section/thumbnails/climbing_300.jpg');}
.tile.yang { background-image: url('/images/photos-section/thumbnails/yang_300.jpg');}

.tile.sappho { background-image: url('images/photos-section/thumbnails/sappho_300.jpg');}
.tile.blanket-fort { background-image: url('images/photos-section/thumbnails/blanket_fort_300.jpg');}
.tile.suit { background-image: url('images/photos-section/thumbnails/suit_300.jpg');}

.close-x {
    width: fit-content;
    width: -moz-fit-content;
    margin: 5px 5px 5px auto;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
}
.photos-section .close-x {
    margin: 5px -45px 5px auto;
}

.photos-section .slick-prev {
    left: -55px;
}
.photos-section .slick-next {
    right: -55px;
}

.photos-section .slick-prev, .photos-section .slick-next {
    width: 50px;
    height: 50px;
}

.photos-section .slick-prev:before, .photos-section .slick-next:before {
    font-size: 50px;
}

/* --- test image viewer --- */

.photos-box-wrapper {
    position: relative;
    top: 140px;
    left: 50%;
    width: 1000px;
    transform: translateX(-50%);
    z-index: -1;
    padding: 0 60px 30px;
    border: 3px solid #4f1665;
    border-radius: 8px;
    visibility: hidden;
    max-height: 80vh;
}

.light .photos-box-wrapper {
    background: #f2f2f2;
}
.dark .photos-box-wrapper {
    background: #2d2d2d;
}

.photos-box-wrapper.slicked-section {
    position: fixed;
}

.photos-box-wrapper.active {
    visibility: visible;
    z-index: 250;
}

.image-viewer {
    max-height: 100%;
}

.slick-initialized .image-wrapper.slick-slide {
    max-height: 100%;
    display: flex;
    align-items: center;
}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.image-viewer, .slick-initialized .image-wrapper.slick-slide, .image-wrapper img {
    max-height: 60vh;
}
.image-viewer .slick-track {
    display: flex !important;
    align-items: center;
}
.image-viewer > .slick-list {
    max-height: 60vh;
    height: 100% !important;
}

@media only screen and (max-width: 1200px) {
    .photos-box-wrapper {
        top: 10vh;
        width: 65vw;
        padding: 0 35px 30px;
    }
    .photos-section .close-x {
        margin: 5px -20px 5px auto;
    }
    .photos-section .slick-prev {
        left: -30px;
    }
    .photos-section .slick-next {
        right: -30px;
    }
    .photos-section .slick-prev, .photos-section .slick-next {
        width: 25px;
        height: 25px;
    }
    .photos-section .slick-prev:before, .photos-section .slick-next:before {
        font-size: 25px;
    }
}

/* ----- Slick Slider section ----- */

.dark .slick-prev:before, .dark .slick-next:before {
    color: #fff;
}

.light .slick-prev:before, .light .slick-next:before {
    color: #2d2d2d;
}

/* ----- Toggle section ----- */
.theme-toggle {
    position: fixed;
    height: 30px;
    width: 54px;
    right: 20px;
    bottom: 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    line-height: 1;
    padding: 0 3px;
    cursor: pointer;
    z-index: 500;
}

.toggle-switch {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    line-height: normal;
}

.theme-toggle.light {
    background: #4d4d4d;
    border: 2px solid #cccccc;
    transition: background 0.2s linear;
}

.theme-toggle.dark {
    background: #f2f2f2;
    border: 2px solid #808080;
    transition: background 0.2s linear;
}

.theme-toggle:not(.dark) .toggle-switch {
    margin-left: 0px;
    background: #cccccc;
    transition: margin-left 0.2s, background 0.2s linear;
}

.theme-toggle:not(.light) .toggle-switch {
    margin-left: 30px;
    background: #808080;
    transition: margin-left 0.2s, background 0.2s linear;
}

.theme-toggle:not(.dark) .fa-sun {
    opacity: 0;
    transition: opacity 0.1s linear;
}

.theme-toggle:not(.light) .fa-moon {
    opacity: 0;
    transition: opacity 0.1s linear;
}

.theme-toggle .fa-moon {
    position: absolute;
    right: 10px;
    color: #fff;
}

.theme-toggle.light .fa-moon {
    opacity: 1;
    transition: opacity 0.1s linear;
}

.theme-toggle.dark .fa-sun {
    opacity: 1;
    transition: opacity 0.1s linear;
}

.theme-toggle .fa-sun {
    position: absolute;
    left: 9px;
    color: #666;
}

/* END TOGGLE SECTION */

@media only screen and (max-width: 767px) {
    .video-clips, .video-edits {
        height: 200px;
    }
    .theme-toggle {
        cursor: default;
    }
    /*.videos-group {
        width: 100%;
    }*/
}

/* DnD pages */

main.dnd {
    margin: 80px auto;
    width: 80%;
    max-width: 1200px;
}

main.dnd h1 {
    margin: 80px auto 40px;
    text-align: center;
}

main.dnd p.default, main.dnd p.reading {
    font-size: 20px;
}

main.dnd p.plus-one {
    font-size: 24px;
}

main.dnd p.plus-two {
    font-size: 28px;
}

main.dnd p.minus-one {
    font-size: 16px;
}

main.dnd p.minus-two {
    font-size: 14px;
}

main.dnd.serif > p.reading, main.dnd.serif > h1 {
    font-family: 'Times New Roman';
    line-height: 1.5;
}

main.dnd .line-break {
    width: 100%;
    max-width: 350px;
    margin: 50px auto;
    text-align: center;
}

main.dnd .line-break svg {
    width: 200px;
    height: 100px;
}

.light main.dnd .line-break {
    /*border-bottom: 8px solid #4f1665;*/
}
.light main.dnd .line-break svg g {
    fill: #4f1665;
}
.dark main.dnd .line-break svg g {
    fill: #daabed;
}
.dark main.dnd .line-break {
    /*border-bottom: 8px solid #daabed;*/
}

.dnd-section > .letters:not(.columns) {
    padding: 0 50px;
    max-width: 400px;
    margin: 0 auto;
}

main.dnd .letters-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

main.dnd .letters-list .letters {
    width: 50%;
}

main.dnd .sketch-wrapper {
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    position: relative;
}

main.dnd .sketch-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-image: radial-gradient(circle, transparent 64%, transparent 39%, #f2f2f2 96%);
    top: 0;
}

@media only screen and (max-width: 600px) {
    .dnd-section > .letters:not(.columns) {
        padding: 0;
        width: fit-content;
        width: -moz-fit-content;
    }

    main.dnd .letters-list {
        flex-direction: column;
        margin-bottom: 0;
    }

    main.dnd .letters-list .letters {
        width: 100%;
    }
}

.bottom-navigation {
    display: flex;
    max-width: 600px;
    margin: 40px auto;
}

.bottom-navigation .prev {
    text-align: left;
    width: 50%;
}

.bottom-navigation .next {
    text-align: right;
    width: 50%;
}

.bottom-navigation a, .bottom-navigation a:visited {
    background-color: #ddabed;
    padding: 0 6px;
    border-radius: 6px;
    text-decoration: none;
    color: #000 !important;
    font-weight: 500;
    transition: background-color 0.3s, color 0.23s linear;
}

.bottom-navigation a:hover {
    background-color: #4f1665;
    text-decoration: none;
    color: #fff !important;
    transition: background-color 0.3s, color 0.23s linear;
}

.bottom-navigation a.unavailable {
    background-color: #808080;
    color: #fff !important;
    pointer-events: none;
}

#reading-toolbar {
    position: fixed;
    bottom: -2px;
    left: -2px;
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
    border-top-right-radius: 10px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

.light #reading-toolbar {
    background-color: #f7f7f7;
    box-shadow: 0px 0px 8px -2px #000;
    color: #000;
}

.dark #reading-toolbar {
    background-color: #f2f2f2;
    box-shadow: 0px 0px 8px -2px #f2f2f2;
    color: #333;
}
.dark #reading-toolbar .serif-style > p {
    color: #333;
}

#reading-toolbar > div {
    height: 100%;
    padding: 5px 10px;
    text-align: center;
    min-width: 30px;
    cursor: pointer;
}

#reading-toolbar .size-down, #reading-toolbar .size-up {
    display: flex;
    align-items: baseline;
}

#reading-toolbar .size-up {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

#reading-toolbar .disabled {
    pointer-events: none;
    cursor: none;
}

.light #reading-toolbar .disabled {
    color: #666;
    background-color: #e2e2e2;
}

.dark #reading-toolbar .disabled {
    color: #808080;
    background-color: #666;
}

#reading-toolbar .fas.fa-font.large {
    font-size: 24px;
}

#reading-toolbar .fas.fa-font.small {
    margin-right: 3px;
}

#reading-toolbar .fas.fa-plus,#reading-toolbar .fas.fa-minus {
    font-size: 12px;
    align-self: center;
}

#reading-toolbar .serif-style p {
    font-size: 26px;
    margin: 0;
    line-height: 1;
}

#reading-toolbar .serif-style p.active {
    display: block;
}

#reading-toolbar .serif-style p:not(.active) {
    display: none;
}

#reading-toolbar .serif {
    font-family: 'Times New Roman';
}

.dnd img.sketch {
    max-width: 200px;
    margin: auto;
    display: block;
}

/* CLOSE X */

.light .close-x {
    color: #000;
    transition: color 0.2s linear;
}
.light .close-x:hover {
    color: #4f1665;
}

.dark .close-x {
    color: #fff;
    transition: color 0.2s linear;
}
.dark .close-x:hover {
    color: #ddabed;
}

/* ------- FLOATING NAV BUTTONS --------- */

.floating-navigation {
    position: fixed;
    top: 50%;
    width: 100%;
    left: 0;
    font-size: 25px;
}
.floating-navigation:not(.shown) {
    visibility: hidden;
}

.prev-float {
    float: left;
}
.next-float {
    float: right;
}

.floating-navigation > div {
    width: 6%;
    max-width: 30px;
    text-align: center;
}

.floating-navigation a {
    padding: 3px;
}

.light .floating-navigation a {
    background: #333;
    color: #fff !important;
}
.dark .floating-navigation a {
    background: #f2f2f2;
    color: #333 !important;
}

.floating-navigation .prev-float a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.floating-navigation .next-float a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.floating-navigation a, .floating-navigation i {
    line-height: 1;
    display: block;
    height: auto;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .floating-navigation {
        font-size: 45px;
    }
    .floating-navigation > div {
        max-width: 50px;
    }
}

/* ------- DEVICE-SPECIFIC ENTRIES ----------- */

.mobile .resume-section .desktop, .desktop .resume-section .mobile {
    display: none;
}

.desktop .resume-section .desktop, .mobile .resume-section .mobile {
    display: block;
}

/* hiding the fun stuff bc job applications, and people can't know I play DnD or edit videos, sad day. */

/*.subnav-item#dnd-link, .dnd-section#dnd, .subnav-item#videos-link, .videos-section#videos {
    display: none !important;
}*/


/* ----------- COOLER SCROLL BAR ----------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b7b7b7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4f1665;
}